.App {
  text-align: center;
}
* {
  background-color: #3c4833;
  color: white;
}

.form-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
}

form input {
  margin: 1%;
}

.form-div button {
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  border: 2px solid white;
}

.team-member {
  margin: 2%;
  border: 2px solid white;
}
